:root {
  --cor-primaria: rgb(69, 145, 231);
  --cor-secundaria: #b3d9ff;
  --cor-terciaria: #010101;
  --cor-quartenaria: #d6ffff;
  --cor--background-hover: #4e4feb;

  --fonte-primaria: "Open Sans", sans-serif;
  --fonte-secundaria: "Roboto Slab", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-primaria);
}

p,
span,
a {
  justify-content: justify;
  line-height: 1.85rem;
  font-family: var(--fonte-primaria);
  font-size: 1.25rem;
}

h1,
h2 {
  font-family: var(--fonte-secundaria);
  font-weight: 500;
}
.logo {
  width: 10rem;
  height: 10rem;
  display: inline;
  margin-left: 1rem;
}

.skeleton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 70rem;
  height: 45rem;
  background-color: var(--cor-secundaria);
  padding: 2rem;
  border-radius: 1.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.main-information {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 2.5rem;
}

.personal-image {
  width: 10rem;
  height: 14rem;
  display: inline;
  border-radius: 1.75rem;
}

.main-names h2 {
  margin: 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.links a {
  padding: 0.5rem;
  color: var(--cor-terciaria);
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
}

.links-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.links-block img {
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.sobre {
  margin: 1.25rem 0;
}

.language-img {
  max-height: 5rem;
  width: 5rem;
  margin: 1rem 1rem;
}

.idiomas {
  display: flex;
  align-items: center;
}

.language-DIV {
  max-height: 5rem;
  width: 5rem;
  margin: 1rem 1rem;
  transition: transform 0.3s ease-in-out;
}

.hidden {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--cor-quartenaria);
  height: 5.1rem;
  background-color: var(--cor-primaria);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

a:hover,
a:focus {
  padding: 1rem;
  border-radius: 1.2rem;
  background-color: var(--cor-primaria);
  color: var(--cor-quartenaria);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.language-img:hover {
  cursor: pointer;
  transform: scale(1.25); /* Aumenta a imagem em 30% */
}

@media (max-width: 1500px) {
  main {
    width: 60rem;
  }

  .main-information {
    grid-template-columns: 0.2fr auto auto;
    gap: 20px;
  }

  .logo {
    display: none;
  }
}

@media (max-width: 1050px) {
  .main {
    padding: 1rem;
  }
}

@media (max-width: 825px) {
  body {
    background-color: var(--cor-primaria);
  }
  .main {
    grid-template-columns: auto auto auto;
    height: auto;
  }
  footer {
    width: 100%;
    height: auto%;
  }
}
