html {
  background-color: #1c3a5f;
  color: #111;
}

.background {
  display: flex;
}

p,
span,
a {
  line-height: 1.75rem;
  font-family: "Gotham", "Roboto", sans-serif;
  font-size: 1.25rem;
}

h1,
h2 {
  font-family: "Noto Sans";
}
.logo {
  width: 10rem;
  height: 10rem;
  display: inline;
  margin-left: 1rem;
}

main {
  background-color: #b3d9ff;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 1.75rem;
  width: 75rem;
  height: 40rem;
}

.main-information {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 2.5rem;
}

.personal-image {
  width: 10rem;
  height: 14rem;
  display: inline;
  border-radius: 1.75rem;
}

.main-names h2 {
  margin: 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.links a {
  padding: 0.5rem;
  color: #1c3a5f;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
}

.links-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.links-block img {
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.sobre {
  margin: 1.25 0;
}

.language-img {
  max-height: 5rem;
  width: 5rem;
  margin: 1rem 1rem;
}

.idiomas {
  display: flex;
  align-items: center;
  bottom: 0;
  margin: 2rem auto;
}

.language-img {
  max-height: 5rem;
  width: 5rem;
  margin: 1rem 1rem;
  transition: transform 0.3s ease-in-out;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  height: 5rem;
  background-color: #00111d;
}

a:hover,
a:focus {
  color: #111;
}

.language-img:hover {
  transform: scale(1.4); /* Aumenta a imagem em 30% */
}

@media (max-width: 1500px) {
  main {
    width: 60rem;
  }

  .main-information {
    grid-template-columns: auto auto auto;
  }

  .logo {
    display: none;
  }
}

@media (max-width: 1050px) {
  main {
    height: 100%;
    margin: 0;
  }
  html {
    background-color: #b3d9ff;
  }
}

@media (max-width: 605px) {
  footer {
    width: 100%;
    height: auto%;
  }

  .main-information {
    grid-template-columns: auto auto;
  }
}
